---
import { Nosotros1, Nosotros2, Nosotros3 } from "~assets/img";
import { Layout } from "~components";
import {
  Article,
  Aside,
  Box,
  Button3D,
  Heading,
  Image,
  List,
  ListItem,
  Paragraph,
  Section,
} from "~components/ui";
---

<Layout title="NOSOTROS :: ACH SYSTEMS">
  <Section class="w-full px-4 py-10 text-center">
    <Box class="border-accent border-y-4 py-6">
      <Heading
        as="h3"
        class="text-accent text-2xl leading-relaxed font-black tracking-wider uppercase italic lg:block lg:text-4xl"
      >
        SOMOS LA PRIMERA EMPRESA EN EL ZULIA ENCARGADA DEL DISE칌O DE SISTEMAS
        PARA GESTIONAR TUS SERVICIOS HECHOS A LA MEDIDA Y AL MEJOR PRECIO.
      </Heading>
    </Box>
  </Section>
  <Section>
    <Box class="px-4 lg:grid lg:grid-cols-2 lg:items-center lg:gap-8 lg:px-10">
      <Aside class="order-1 flex justify-center">
        <Image src={Nosotros1} alt="" loading="eager" class="rounded-xl" />
      </Aside>
      <Article class="order-2 flex flex-col justify-center">
        <Heading as="h2" class="mb-3 pt-2 text-center lg:pt-0"
          >Ing. Aixa Chac칤n</Heading
        >
        <List class="mb-3 flex flex-col gap-2 p-5">
          {
            [
              "Ingeniera de Sistemas.",
              "Estudiante de Medicina.",
              "Asistente de Farmacia Avanzado.",
              "Dise침adora de Marketing M칠dico",
            ].map((item) => (
              <ListItem class="before:content-['游_']">{item}</ListItem>
            ))
          }
        </List>
        <Paragraph class="mb-3 text-justify"
          >Su aliada ideal en dise침os de sistemas y personalizaci칩n general,
          especializada en la atenci칩n de requerimientos para sistemas m칠dicos.
          Nuestra ingeniera eval칰a qu칠 sistema necesita y realiza modelos base
          para que tengas interacci칩n total con tu proyecto.</Paragraph
        >
        <Paragraph class="text-justify"
          >Con conocimiento en CCS, JavaScript, Phyton y herramientas de dise침o
          como Photoshop, Adobe Ilustrator, Canvas Pro, entre otras, ser치 tu
          aliada para plasmar tus ideas y necesidades. Con ella lograr치s
          alcanzar el m치ximo potencial de tu proyecto e impulsar치s tu empresa
          con tecnolog칤a de ultimo momento.</Paragraph
        >
      </Article>
    </Box>
  </Section>

  <Section class="py-5">
    <Box class="px-4 lg:grid lg:grid-cols-2 lg:items-center lg:gap-8 lg:px-10">
      <Aside class="order-2 flex justify-center">
        <Image src={Nosotros2} alt="" loading="eager" class="rounded-xl" />
      </Aside>
      <Article class="order-1">
        <Heading as="h2" class="mb-3 pt-2 text-center lg:pt-0"
          >Ing. Fernando Duarte</Heading
        >
        <List class="mb-3 flex flex-col gap-2 p-5">
          {
            [
              "Analista de Sistemas.",
              "Ingeniero de Sistemas.",
              "Estudiante de Licenciatura en Computaci칩n.",
              "Desarrollador Web / Escritorio.",
            ].map((item) => (
              <ListItem class="before:content-['游_']">{item}</ListItem>
            ))
          }
        </List>
        <Paragraph class="mb-3 text-justify"
          >Nuestro especialista en el desarrollo e implementaci칩n de sistemas
          ideal para crear soluciones eficientes y funcionales que aumenten la
          productividad de los usuarios en cada uno de los sistemas que
          desarrolla, dise침ador de Back End con conocimiento en HTML, CSS,
          JavaScript, PHP, vb.net, C y Phyton, y frameworks como Laravel o React
          Js, ser치 tu aliado para desarrollar y hacer realidad tus proyectos.</Paragraph
        >
      </Article>
    </Box>
  </Section>

  <Section class="pt-5 pb-10">
    <Box class="px-4 lg:grid lg:grid-cols-2 lg:items-center lg:gap-8 lg:px-10">
      <Aside class="order-1 flex justify-center">
        <Image src={Nosotros3} alt="" loading="eager" class="rounded-xl" />
      </Aside>
      <Article class="order-2">
        <Heading as="h2" class="mb-3 pt-2 text-center lg:pt-0"
          >Ing. Rodolfo L칩pez</Heading
        >
        <List class="mb-3 flex flex-col gap-2 p-5">
          {
            ["Ingeniero de Sistemas.", "Desarrollador Web."].map((item) => (
              <ListItem class="before:content-['游_']">{item}</ListItem>
            ))
          }
        </List>
        <Paragraph class="mb-3 text-justify"
          >Nuestro principal programador Frontend con experiencia en el dise침o y
          desarrollo de interfaces web din치micas con alta eficiencia, adem치s es
          nuestro especialista en JavaScript y React. Su prioridad es el enfoque
          para lograr la creaci칩n de experiencias interactivas y asi garantizar
          soluciones precisas e intuitivas adaptadas a las necesidades de cada
          proyecto. Gracias a su experiencia lograr치s tener las din치micas
          necesarias para que su p치gina o sistema sea exitoso.</Paragraph
        >
      </Article>
    </Box>
  </Section>

  <Section class="mx-5 pt-0 pb-10 lg:mx-10 lg:pt-10">
    <Article class="mb-10 text-justify">
      <Heading class="text-accent mb-5 text-center uppercase lg:mb-10"
        >Misi칩n</Heading
      >
      <Paragraph class="mb-3"
        >Asesorar, dise침ar, desarrollar e implementar soluciones de software
        innovadoras, totalmente personalizadas a cualquier usuario, las cuales
        permiten automatizar y optimizar procesos que tradicionalmente se
        realizan de forma manual. Con herramientas de gesti칩n precisas a las
        necesidades operativas y estrat칠gicas de cada organizaci칩n, nuestro
        compromiso es orientado a la satisfacci칩n de nuestros usuarios
        entregando sistemas de gesti칩n robustos, intuitivos, seguros y de f치cil
        manejo garantizando tanto funcionalidad como escalabilidad, siempre
        enfoc치ndonos en dos 치mbitos principales: primero en las necesidades y
        luego en los conocimientos de el cliente.</Paragraph
      >
      <Paragraph>
        Todo esto utilizando sistemas de informaci칩n que logren liberar a
        nuestros consumidores de tareas repetitivas y propensas a errores,
        permiti칠ndoles enfocarse en la productividad, la creatividad y la toma
        de decisiones con el respaldo de datos precisos en todo momento.
        Buscamos ser un factor clave en la mejora continua de la eficiencia y la
        competitividad en el mercado a trav칠s de la tecnolog칤a y un servicio al
        cliente excepcional.</Paragraph
      >
    </Article>
    <Article class="text-justify">
      <Heading class="text-accent mb-5 text-center uppercase lg:mb-10"
        >Visi칩n</Heading
      >
      <Paragraph class="mb-3">
        Ser la referencia l칤der en soluciones de software, actuando como
        catalizador de la Transformaci칩n digital para organizaciones del sector
        salud y administrativo, al ser reconocidos como el socio tecnol칩gico
        n칰mero uno en la creaci칩n de sistemas inform치ticos para la gesti칩n de
        distintos servicios que eliminen eficientemente el trabajo manual.
        Aspiramos a empoderar organizaciones de diversos sectores como son: el
        치rea de la salud, el sector administrativo, peque침os y grandes
        emprendedores entre otros; para que optimicen sus operaciones mediante
        la automatizaci칩n total de sus procesos, permitiendo as칤 la toma de
        decisiones informadas y que dichos usuarios obtengan el alcance de una
        mayor eficiencia sin precedentes, minimizando errores y liberando el
        talento humano para tareas de mayor valor estrat칠gico.</Paragraph
      >
    </Article>
  </Section>
  <Section
    class="flex flex-col justify-center bg-neutral-300 py-8 text-center lg:px-15 lg:py-15"
  >
    <Heading class="mb-10 hidden text-5xl uppercase lg:block"
      >쮻eseas contactarnos?</Heading
    >
    <Paragraph class="mb-10 block text-2xl font-bold uppercase lg:hidden">
      쮻eseas contactarnos?
    </Paragraph>
    <a href="/contacto/" class="flex justify-center">
      <Button3D color="bg-neutral-400" class="uppercase">Pulsa aqu칤</Button3D>
    </a>
  </Section>
</Layout>
